@font-face {
  font-family: "iconfont"; /* Project id 2978017 */
  src: url("//at.alicdn.com/t/font_2978017_8tokqonp776.woff2?t=1638364114486")
      format("woff2"),
    url("//at.alicdn.com/t/font_2978017_8tokqonp776.woff?t=1638364114486")
      format("woff"),
    url("//at.alicdn.com/t/font_2978017_8tokqonp776.ttf?t=1638364114486")
      format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-baocunwendang:before {
  content: "\e662";
}

.icon-01zhushuju_tiaojianziduanfenlei:before {
  content: "\e60e";
}

.icon-radiobox:before {
  content: "\e75b";
}

.icon-biaodan:before {
  content: "\e66f";
}

.icon-select:before {
  content: "\e6e6";
}

.icon-biaodanzujian-xialakuang:before {
  content: "\eb94";
}

.icon-input:before {
  content: "\e619";
}

.icon-anniu:before {
  content: "\e638";
}

.icon-3column:before {
  content: "\e663";
}

.icon-column-4:before {
  content: "\e664";
}

.icon-add:before {
  content: "\e665";
}

.icon-adjust:before {
  content: "\e666";
}

.icon-chart-bar:before {
  content: "\e667";
}

.icon-code:before {
  content: "\e668";
}

.icon-check-item:before {
  content: "\e669";
}

.icon-calendar:before {
  content: "\e66a";
}

.icon-comment:before {
  content: "\e66b";
}

.icon-column-vertical:before {
  content: "\e66c";
}

.icon-column-horizontal:before {
  content: "\e66d";
}

.icon-cut:before {
  content: "\e66e";
}

.icon-file:before {
  content: "\e671";
}

.icon-layout:before {
  content: "\e676";
}

.icon-layers:before {
  content: "\e675";
}
